/*****************************************************
CSS GENERAL
*****************************************************/
:root {
    --dark_color: #000000;
    --header_footer_color: #ccff33; 
    --st_gr_main_color: #006400;
    --nd_gr_main_color: #008000;
    --rd_gt_main_color: #70e000;
}

.header_footer_bg {
    background-color: var(--header_footer_color);
}

/*****************************************************
CSS UTILITIES
*****************************************************/

.grid {
    border: 2px solid var(--dark_color);
}

/*****************************************************
CSS "Griglia Campo Minato"
*****************************************************/
/*****************************************************
CSS header
*****************************************************/

header {
    height: 80px;
}

/*****************************************************
CSS main
*****************************************************/

main {
    height: calc(100% - 140px);
    background-image: linear-gradient(to right, #70e000, #008000, #006400);
}

/*****************************************************
CSS footer
*****************************************************/

footer {
    height: 60px;
}